<h1>ようこそUnknownMusicへ</h1>
<h2>様々な音楽を発見して、試聴、共有できるアプリになります</h2>
<h2>あなたの音楽の世界を広げてみませんか</h2>
<h3>機能紹介</h3>
<h4>音楽を試聴</h4>
<p>検索画面で検索して音楽を試聴できる</p>
<h4>トレンドを把握</h4>
<p>人気投稿ページからどんな音楽が人気なのか探せる</p>
<h4>世界に共有</h4>
<p>お気に入りの曲を投稿して世界に共有できる</p>
<h4>新しい音楽を発見</h4>
<p>ワンタップで知らない音楽に出会える</p>
<%= link_to "人気の投稿を見る", microposts_path, class: "btn btn-lg btn-style btn-top" %>
<%= link_to "曲を検索してみる", songs_search_path, class: "btn btn-lg btn-style btn-top" %>
<%= link_to "新規登録はこちら", signup_path, class: "btn btn-lg btn-style btn-top" %>
<%= link_to "ログインはこちら", login_path, class: "btn btn-lg btn-style btn-top" %>
