<div class="img-layout top-img">
  <div class="container-top">
    <h1>Unknown Music</h1>
    <p>音楽を知る、きっかけを。</p>
    <%= link_to "始める", microposts_path, class: "btn btn-style btn-top" %>
  </div>
</div>
