<h1>Unknown Music</h1>
<p>初めまして。<%= @user.name %>さん。</p>
<p>
  ようこそ。Unknown Musicへ！ 以下のリンクをクリックしてアカウントを有効化してください。
</p>
<%= link_to "有効化", edit_account_activation_path(@user.activation_token,
                                                    email: @user.email) %>
