<h1>パスワードの再設定</h1>
<p>パスワードを再設定するには、以下のリンクをクリックしてください。</p>
<% logger.debug(edit_password_reset_url(@user.reset_token, email: @user.email))%>
<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
<p>このリンクは2時間後に有効期限が切れます。</p>
<p>
  パスワードの再設定を要求していない場合、このメールを無視してください。パスワードは変更されません。
</p>
