<div class="img-layout top-img">
  <div class="container-top">
    <h1>Unknown Music</h1>
    <p>まだ、知らない音楽に出会いませんか</p>
    <p>
      <%= link_to "初めての方はこちらへ", about_path, :style => "color: white;" %>
    </p>
    <%= link_to "始める", microposts_path, class: "btn btn-lg btn-style btn-top" %>
  </div>
</div>
