<div class="img-layout top-img">
  <div class="container-top">
    <h1>Unknown Music</h1>
    <p>まだ、知らない音楽に出合いませんか</p>
    <%= link_to "始める", '#', class: "btn btn-lg btn-style btn-top" %>
  </div>
</div>
