<% unless current_user?(object) %>
  <div id="follow-form-<%= object.id %>" class="follow-style">
    <% if current_user.following?(object) %>
      <%= render 'unfollow', object: object, stats_user: stats_user %>
    <% else %>
      <%= render 'follow', object: object, stats_user: stats_user %>
    <% end %>
  </div>
<% end %>
