<% @user ||= current_user %>
<a href="<%= following_user_path(@user) %>">
  <strong>
    <%= @user.following.count %>
  </strong>
  フォロー中
</a>
<a href="<%= followers_user_path(@user) %>">
  <strong>
    <%= @user.followers.count %>
  </strong>
  フォロワー
</a>
