<% provide(:title, '人気投稿') %>
<div class="popular-img">
  <div id="wrapper" class="container-popular">
    <%= render 'layouts/header' %>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <p class="eng-title text-center">Popular posts</p>
        <h1 class="jpn-title text-center">人気投稿</h1>
        <%= render @all_ranks %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>
