<% provide(:path, microposts_path) %>
<% provide(:placeholder, 'アーティスト、曲名、投稿を検索') %>
<div class="popular-posts">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>人気の投稿</h1>
      <%= render @all_ranks %>
    </div>
  </div>
</div>
