@import "bootstrap";

/* universal */
// body {
//   overflow: hidden;
// }

.img-layout {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

label {
  text-align: left;
  margin-bottom: 0;
}

.form-layout {
  width: 100%;
  margin-bottom: 2rem;
}

//ボタンスタイル
.btn-style {
  text-decoration: none;
  border-radius: 3px;
  transition: 0.4s;
  border: solid 2px white;
}

/* errors */

.error_explanation {
  color: red;
  width: 100%;
  ul {
    color: red;
  }
}

.alert {
  margin-bottom: 0;
}

/* header */

.logo {
  font-size: 1.7rem;
  color: white;
  letter-spacing: -1px;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    color: #ca046e;
  }
}

.link-style {
  color: white;
  margin: 1rem;

  &:hover {
    text-decoration: none;
    color: #c84289;
  }
}

/* main */

.top-img {
  background-image: image-url("top.jpg");
}

.signup-img {
  background-image: image-url("signup.jpg");
}

.login-img {
  background-image: image-url("login.jpg");
}

.edit-img {
  background-image: image-url("edit.jpg");
}

.container-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.container-signup {
  position: absolute;
  top: 35%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
}

.container-login {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.container-edit {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
}

.container-signup h1 {
  margin-top: 10rem;
  margin-bottom: 1rem;
  text-align: center;
}

.container-login h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.container-edit h1 {
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.btn-top {
  color: white;
  background: rgba(0, 0, 0, 0.2);
  &:hover {
    background: white;
    color: black;
  }
}

.btn-signup {
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  &:hover {
    background: white;
    color: black;
  }
}

.btn-login {
  width: 100%;
  color: black;
  margin-bottom: 1rem;
  &:hover {
    background: black;
    color: white;
  }
}

.btn-edit {
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  border: solid 2px white;
  &:hover {
    background: white;
    color: black;
  }
}

.btn-to-signup {
  width: 100%;
  color: black;
  &:hover {
    background: white;
    color: black;
  }
}

.gravatar_edit {
  text-align: center;
  margin-bottom: 1rem;
}

.gravater {
  display: block;
  border: solid 1px white;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: gray;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
