@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
/* universal */

html {
  //10px
  font-size: 62.5%;
}

label {
  text-align: left;
  margin-bottom: 0;
}

.container-fluid {
  padding: 0;
}

.btn-style {
  text-decoration: none;
  transition: 0.4s;
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 4rem;
}

.form-layout {
  width: 100%;
}

#wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

/* header */

header {
  font-size: 0.5rem;
  .logo {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    &:hover {
      text-decoration: none;
      color: #003ea6;
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .nav-item {
    margin: 0.5rem 0.5rem;
    text-align: center;
    .link-style {
      color: white;
      text-decoration: none;
      position: relative;
      display: inline-block;
      margin: 0;
      .eng-link {
        font-style: italic;
        font-size: 0.5rem;
        margin: 0;
        margin-bottom: 0.15rem;
        &:hover {
          text-decoration: none;
        }
      }
      .jpn-link {
        margin: 0;
        font-size: 1rem;
      }
    }
    .link-style::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.1rem;
      width: 100%;
      height: 0.1rem;
      background-color: white;
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform 0.3s;
    }
    .link-style:hover::after {
      transform: scale(1, 1);
    }
  }
}

/* footer */

footer {
  margin-top: auto;
  padding: 2rem 0;
  p {
    margin: 0;
  }
}

/* errors */

.error_explanation {
  color: red;
  width: 100%;
  ul {
    color: red;
  }
}

.alert {
  margin-bottom: 0;
}

/* TOP */

.top-img {
  background-image: image-url("top.jpg");
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  white-space: nowrap;
}

.container-top h1 {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: 0.2rem;
}

.container-top p {
  margin-bottom: 6rem;
  font-size: 1.25rem;
  letter-spacing: 0.3rem;
}

.btn-top {
  color: white;
  background: rgba(0, 0, 0, 0.25);
  border: solid 0.1rem white;
  padding: 0.75rem 2.25rem;
  font-size: 1.25rem;
  text-indent: 0.3rem;
  letter-spacing: 0.3rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  &:hover {
    background: white;
    color: black;
    box-shadow: none;
  }
}

/* SIGN UP */

.signup-img {
  background-image: image-url("signup.jpg");
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-signup {
  position: absolute;
  top: 35%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: 5rem;
}

.container-signup h1 {
  margin-bottom: 1rem;
}

.btn-signup {
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  &:hover {
    background: white;
    color: black;
  }
}

.btn-to-signup {
  width: 100%;
  color: black;
  &:hover {
    background: white;
    color: black;
  }
}

/* LOGIN */

.login-img {
  background-image: image-url("login.jpg");
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-login {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.btn-login {
  width: 100%;
  color: black;
  margin-bottom: 1rem;

  &:hover {
    background: black;
    color: white;
  }
}

.container-login h1 {
  margin-bottom: 1rem;
}

/* EDIT */

.edit-img {
  background-image: image-url("edit.jpg");
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-edit {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
}

.container-edit h1 {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.btn-edit {
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  border: solid 0.2rem white;

  &:hover {
    background: white;
    color: black;
  }
}

/* Users */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 1rem 0;
    border-bottom: 0.1rem solid gray;
  }
}

/* Microposts */

.microposts {
  padding: 0 2rem;
  font-size: 1.25rem;
  list-style: none;
  margin-bottom: 1rem;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
  border: solid 0.1rem white;
  .row-micropost {
    padding: 0;
    .icon-size {
      font-size: 1rem;
    }
    .user-img {
      margin-top: 1rem;
    }
    .user {
      color: white;
      text-decoration: none;
      position: relative;
      display: inline-block;
    }
    .user::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.1rem;
      width: 100%;
      height: 0.1rem;
      background-color: white;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: transform 0.3s;
    }
    .user:hover::after {
      transform: scale(1, 1);
    }
    .history {
      color: gray;
    }
    .listening {
      color: #0b9ff5;
      &:hover {
        color: gold;
        text-decoration: none;
      }
    }
    .btn-like {
      color: #ca046e;
      padding: 0;
      &:hover {
      }
    }
    .btn-like-non {
      color: white;
      padding: 0;
      &:hover {
        color: #ca046e;
      }
    }
    .trash {
      color: white;
      &:hover {
        color: rgb(164, 247, 164);
      }
    }
  }
}

/* sidebar */

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    color: gray;
    padding: 0 1rem;
    border-left: 0.1rem solid #eeeeee;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 1rem;

  a {
    padding: 0;
  }
  .gravatar {
    margin: 0.1rem 0.1rem;
  }
}

.stats {
  a {
    padding: 0 1rem;
    border-left: 0.1rem solid #eeeeee;
  }
}

/* popular posts */

.popular-img {
  background-image: image-url("popular.jpg");
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-popular {
  color: white;
  .eng-title {
    margin: 5rem 0 0.25rem 0;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
  }
  .jpn-title {
    margin: 0 0 4rem 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 3rem;
  }
}

/* Music search */

.song-img {
  background-image: image-url("song.jpg");
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-song {
  color: white;
  .song-search {
    margin-bottom: 2rem;
    .eng-title {
      margin: 5rem 0 0.25rem 0;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      font-weight: 300;
      font-size: 1.5rem;
    }
    .jpn-title {
      margin: 0 0 2rem 0;
      font-family: "Noto Sans JP", sans-serif;
      font-weight: 700;
      font-size: 3rem;
    }
    .search-form {
      height: 5rem;
      width: 50rem;
      font-size: 2rem;
      margin-bottom: 1rem;
      border-radius: 1rem;
      border: solid 0.1rem white;
    }
    .btn-song {
      color: white;
      background: rgba(0, 0, 0, 0.25);
      border: solid 0.1rem white;
      padding: 0.75rem 2.25rem;
      font-size: 1.25rem;
      text-indent: 0.3rem;
      letter-spacing: 0.3rem;
      box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
      &:hover {
        background: white;
        color: black;
        box-shadow: none;
      }
    }
  }

  .search-content {
    color: white;
    display: inline-block;
    margin: 3rem;
    font-size: 1.5rem;
    height: 30rem;
    width: 30rem;
    .icon-style {
      font-family: "Noto Sans JP", sans-serif;
      font-weight: 400;
    }
    .artist-song {
      margin-bottom: 0.2rem;
    }
    .album-image {
      margin-bottom: 0.2rem;
      .song-jacket {
        height: 25rem;
        width: 25rem;
        border: solid 0.1rem white;
      }
    }
    .icon {
      font-family: "Noto Sans JP", sans-serif;
      font-weight: 400;
      .listening {
        color: #0b9ff5;
        &:hover {
          color: gold;
          text-decoration: none;
        }
      }

      .btn-share {
        font-family: "Noto Sans JP", sans-serif;
        font-weight: 300;
        color: #07f1bf;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        &:hover {
          color: gold;
          text-decoration: none;
        }
      }
    }
  }
}

/* Responsive */

/*　タブレットサイズ対応　*/
@media (min-width: 768px) {
  /* header */

  header {
    font-size: 1rem;
    .logo {
      font-size: 2rem;
      letter-spacing: 0.2rem;
    }
    .nav-item {
      margin: 0 1rem;
      .link-style {
        .eng-link {
          font-size: 1rem;
          margin-bottom: 0.1rem;
        }
        .jpn-link {
          font-size: 1.25rem;
        }
      }
      .link-style::after {
        bottom: -0.1rem;
        height: 0.1rem;
      }
    }
  }

  /* TOP */

  .container-top h1 {
    font-size: 7rem;
  }

  .container-top p {
    margin-bottom: 11rem;
    font-size: 2rem;
    letter-spacing: 0.55rem;
  }

  .btn-top {
    padding: 1rem 3rem;
    font-size: 2rem;
    text-indent: 1rem;
    letter-spacing: 1rem;
  }

  /* SIGN UP */

  .container-signup {
    margin-top: 5rem;
  }

  .container-signup h1 {
    margin-bottom: 1rem;
  }

  /* LOGIN */

  .btn-login {
    margin-bottom: 1rem;
  }

  .container-login h1 {
    margin-bottom: 1rem;
  }

  /* EDIT */

  .container-edit h1 {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  .btn-edit {
    border: solid 0.2rem white;
  }

  /* Users */

  .users {
    li {
      padding: 1rem 0;
      border-bottom: 0.1rem solid gray;
    }
  }

  /* Microposts */

  .microposts {
    padding: 0 2.5rem;
    font-size: 1.5rem;
    .row-micropost {
      .user-img {
        margin: 1rem 0;
      }
    }
  }

  /* sidebar */

  .stats {
    a {
      padding: 0.1rem;
      border-left: 0.1rem solid #eeeeee;
    }
  }

  .user_avatars {
    margin-top: 1rem;
    .gravatar {
      margin: 0.1rem 0.1rem;
    }
  }
}

/*　PCサイズ対応　*/
@media (min-width: 992px) {
  /* header */

  header {
    font-size: 1.5rem;
    .logo {
      font-size: 3rem;
      letter-spacing: 0.3rem;
    }
    .nav-item {
      margin: 0 2rem;
      .link-style {
        .eng-link {
          font-size: 1rem;
          margin-bottom: 0.3rem;
        }
      }
      .link-style::after {
        bottom: -0.1rem;
        height: 0.1rem;
      }
    }
  }

  /* TOP */

  .container-top p {
    margin-bottom: 10rem;
    font-size: 2rem;
    letter-spacing: 0.7rem;
  }

  .btn-top {
    padding: 1rem 3rem;
    font-size: 2rem;
    text-indent: 1rem;
    letter-spacing: 1rem;
  }

  /* SIGN UP */

  .container-signup {
    margin-top: 5rem;
  }

  .container-signup h1 {
    margin-bottom: 1rem;
  }

  /* LOGIN */

  .btn-login {
    margin-bottom: 1rem;
  }

  .container-login h1 {
    margin-bottom: 1rem;
  }

  /* EDIT */

  .container-edit h1 {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  .btn-edit {
    border: solid 0.2rem white;
  }

  /* Users */

  .users {
    li {
      padding: 1rem 0;
      border-bottom: 0.1rem solid gray;
    }
  }

  /* Microposts */

  .microposts {
    padding: 0 3rem;
    font-size: 2rem;
    .row-micropost {
      .icon-size {
        font-size: 1.5rem;
      }
    }
  }

  /* sidebar */

  .stats {
    a {
      padding: 0.1rem;
      border-left: 0.1rem solid #eeeeee;
    }
  }

  .user_avatars {
    margin-top: 1rem;
    .gravatar {
      margin: 0.1rem 0.1rem;
    }
  }

  /* popular posts */
  .container-popular {
    .eng-title {
      margin: 5rem 0 0.25rem 0;
      font-weight: 300;
      font-size: 2rem;
    }

    .jpn-title {
      margin: 0 0 4rem 0;
      font-weight: 700;
      font-size: 4rem;
    }
  }
}
