@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
/* universal */

html {
  //10px
  font-size: 62.5%;
}

.container-fluid {
  padding: 0;
}

.btn-style {
  text-decoration: none;
  transition: 0.4s;
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 4rem;
}

.form-layout {
  width: 100%;
}

#wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

/* header */

header {
  font-size: 0.5rem;
  .logo {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    &:active {
      text-decoration: none;
      color: #003ea6;
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .nav-item {
    margin: 0.5rem 0.5rem;
    text-align: center;
    .link-style {
      color: white;
      text-decoration: none;
      position: relative;
      display: inline-block;
      margin: 0;
      .eng-link {
        font-style: italic;
        font-size: 0.5rem;
        margin: 0;
        margin-bottom: 0.15rem;
        &:active {
          text-decoration: none;
        }
      }
      .jpn-link {
        margin: 0;
        font-size: 1rem;
      }
    }
    .link-style::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.1rem;
      width: 100%;
      height: 0.1rem;
      background-color: white;
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform 0.3s;
    }
    .link-style:active::after {
      transform: scale(1, 1);
    }
  }
}

/* footer */

footer {
  margin-top: auto;
  padding: 2rem 0;
  p {
    margin: 0;
  }
}

/* errors */

.error_explanation {
  color: red;
  width: 100%;
  ul {
    color: red;
  }
}

.alert {
  margin-bottom: 0;
}

/* TOP */

.top-img {
  background-image: image-url("top.jpg");
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  white-space: nowrap;
}

.container-top h1 {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: 0.2rem;
}

.container-top p {
  margin-bottom: 6rem;
  font-size: 1.25rem;
  letter-spacing: 0.3rem;
}

.btn-top {
  color: white;
  background: rgba(0, 0, 0, 0.25);
  border: solid 0.1rem white;
  padding: 0.75rem 2.25rem;
  font-size: 1.25rem;
  text-indent: 0.3rem;
  letter-spacing: 0.3rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  &:active {
    background: white;
    color: black;
    box-shadow: none;
  }
}

/* SIGN UP */

.signup-img {
  background-image: image-url("signup.jpg");
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-signup {
  color: white;
  .eng-title {
    margin: 5rem 0 0.25rem 0;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
  }
  .jpn-title {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
  }
  .field {
    font-size: 1.25rem;
    margin: 3rem 0 0 0;
    p {
      margin: 0;
      padding: 0;
    }
    .signup-form {
      margin: 0 0 4rem 0;
      padding: 0.1rem 0 0 0.1rem;
      border: 0;
      resize: none;
      width: 50%;
      height: 3rem;
      border-radius: 0.5rem;
    }
    .btn-signup {
      color: white;
      background: rgba(0, 0, 0, 0.1);
      border: solid 0.1rem white;
      padding: 0.75rem 2.25rem;
      font-size: 1.5rem;
      text-indent: 0.2rem;
      letter-spacing: 0.2rem;
      display: block;
      &:active {
        background: white;
        color: black;
        text-decoration: none;
      }
    }
  }
}

/* LOGIN */

.login-img {
  background-image: image-url("login.jpg");
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-login {
  color: white;
  .eng-title {
    margin: 5rem 0 0.25rem 0;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
  }
  .jpn-title {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
  }
  .field {
    font-size: 1.25rem;
    margin: 3rem 0 0 0;
    p {
      margin: 0;
      padding: 0;
    }
    .login-form {
      margin: 0 0 4rem 0;
      padding: 0.1rem 0 0 0.1rem;
      border: 0;
      resize: none;
      width: 50%;
      height: 3rem;
      border-radius: 0.5rem;
    }

    .forget-password {
      color: white;
      text-decoration: none;
      position: relative;
      display: inline-block;
    }
    .forget-password::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.1rem;
      width: 100%;
      height: 0.1rem;
      background-color: white;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: transform 0.3s;
    }
    .forget-password:active::after {
      transform: scale(1, 1);
    }
    .keep-login {
      display: inline-block;
      margin: 0 0 0 1rem;
    }
    .btn-login {
      color: white;
      background: rgba(0, 0, 0, 0.1);
      border: solid 0.1rem white;
      padding: 0.75rem 2.25rem;
      font-size: 1.5rem;
      text-indent: 0.2rem;
      letter-spacing: 0.2rem;
      margin: 4rem 0 2rem 0;
      display: inline-block;
      &:active {
        background: white;
        color: black;
        text-decoration: none;
      }
    }
    .btn-easy-login {
      color: white;
      background: rgba(0, 0, 0, 0.2);
      border: solid 0.1rem white;
      padding: 0.75rem 2.25rem;
      font-size: 1.5rem;
      text-indent: 0.2rem;
      letter-spacing: 0.2rem;
      display: inline-block;
      &:active {
        background: white;
        color: black;
        text-decoration: none;
      }
    }
  }
}

/* User edit */

.edit-img {
  background-image: image-url("user_edit.jpg");
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-edit {
  color: white;
  .eng-title {
    margin: 5rem 0 0.25rem 0;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
  }
  .jpn-title {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
  }
  .field {
    font-size: 1.25rem;
    .img-edit {
      margin: 2rem 0 4rem 0;
      padding: 0;
      .user-img {
        margin-bottom: 0.5rem;
        border: solid 0.3rem white;
        object-fit: cover;
        height: 10rem;
        width: 10rem;
      }
      .img-change {
        color: white;
        letter-spacing: 0.2rem;
        &:active {
          cursor: pointer;
          color: gold;
        }
        input {
          display: none;
        }
      }
    }
    .user-edit {
      p {
        margin: 0;
        padding: 0;
      }
      .label {
        margin: 0 0 0.1rem 0;
        padding: 0;
      }
      .edit-form {
        margin: 0 0 3rem 0;
        padding: 0.1rem 0 0 0.1rem;
        border: 0;
        resize: none;
        width: 50%;
        height: 3rem;
        border-radius: 0.5rem;
      }
      .btn-edit {
        color: white;
        background: rgba(0, 0, 0, 0.25);
        border: solid 0.1rem white;
        padding: 0.75rem 2.25rem;
        font-size: 1.5rem;
        text-indent: 0.2rem;
        letter-spacing: 0.2rem;
        &:active {
          background: white;
          color: black;
          box-shadow: none;
        }
      }
    }
  }
}

/* Popular posts */

.popular-img {
  background-image: image-url("popular.jpg");
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-popular {
  color: white;
  .eng-title {
    margin: 5rem 0 0.25rem 0;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
  }
  .jpn-title {
    margin: 0 0 4rem 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 3rem;
  }
  .icon-style {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
  }
  .microposts {
    padding: 0 2rem;
    font-size: 1.25rem;
    list-style: none;
    margin-bottom: 1rem;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
    border: solid 0.1rem white;
    .row-micropost {
      padding: 0;
      .icon-size {
        font-size: 1rem;
      }
      .user-img {
        margin-top: 1rem;
        height: 5rem;
        width: 5rem;
      }
      .user {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
      }
      .user::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.1rem;
        width: 100%;
        height: 0.1rem;
        background-color: white;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform 0.3s;
      }
      .user:active::after {
        transform: scale(1, 1);
      }
      .history {
        color: gray;
      }
      .listening {
        color: #0b9ff5;
        &:active {
          color: gold;
          text-decoration: none;
        }
      }
      .btn-like {
        color: #ca046e;
        padding: 0;
      }
      .btn-like-non {
        color: white;
        padding: 0;
        &:active {
          color: #ca046e;
        }
      }
      .trash {
        color: white;
        &:active {
          color: rgb(164, 247, 164);
        }
      }
    }
  }
}

/* Music search */

.song-img {
  background-image: image-url("song.jpg");
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-song {
  color: white;
  .song-search {
    margin-bottom: 1rem;
    .eng-title {
      margin: 5rem 0 0.25rem 0;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      font-weight: 300;
      font-size: 1.5rem;
    }
    .jpn-title {
      font-family: "Noto Sans JP", sans-serif;
      font-weight: 700;
      font-size: 3rem;
      margin: 0;
    }
    .search-form {
      width: 50%;
      font-size: 1rem;
      margin: 2rem 0;
      border-radius: 1rem;
      border: solid 0.1rem white;
    }
    .btn-song {
      color: white;
      background: rgba(0, 0, 0, 0.25);
      border: solid 0.1rem white;
      padding: 0.25rem 1.75rem;
      font-size: 0.75rem;
      text-indent: 0.2rem;
      letter-spacing: 0.2rem;
      &:active {
        background: white;
        color: black;
        box-shadow: none;
      }
    }
  }

  .search-content {
    color: white;
    display: inline-block;
    margin: 1rem;
    font-size: 1.5rem;
    height: 30rem;
    width: 30rem;
    .icon-style {
      font-family: "Noto Sans JP", sans-serif;
      font-weight: 400;
    }
    .artist-song {
      margin-bottom: 0.2rem;
    }
    .album-image {
      margin-bottom: 0.2rem;
      .song-jacket {
        height: 25rem;
        width: 25rem;
        border: solid 0.1rem white;
      }
    }
    .icon {
      .listening {
        color: #0b9ff5;
        &:active {
          color: gold;
          text-decoration: none;
        }
      }

      .share {
        color: #07f1bf;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        &:active {
          color: gold;
          text-decoration: none;
        }
      }
    }
  }
}

/* Home */

.home-img {
  background-image: image-url("home.jpg");
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-home {
  color: white;
  font-size: 1.5rem;
  margin-top: 3rem;
  .icon-style {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
  }
  aside {
    margin: 0 0 3rem 2rem;
    padding: 0;
    .user-info {
      margin: 1rem 0;
      .user-info-img {
        margin-bottom: 2rem;
        border: solid 0.3rem white;
        width: 10rem;
        height: 10rem;
      }
      .user {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
      }
      .user::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.1rem;
        width: 100%;
        height: 0.1rem;
        background-color: white;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform 0.3s;
      }
      .user:active::after {
        transform: scale(1, 1);
      }
    }
    .stats {
      overflow: auto;
      margin: 0 0 3rem 0;
      padding: 0;
      a {
        color: white;
        padding: 0 1rem;
        display: inline-block;
        &:first-child {
          padding-left: 0;
          border: 0;
        }
        &:active {
          text-decoration: none;
          color: #003ea6;
        }
      }
      strong {
        display: block;
      }
    }
    .micropost-form {
      p {
        margin: 0;
        padding: 0;
        text-align: left;
      }
      .label {
        margin: 0 0 0.1rem 0;
        padding: 0;
      }
      .search-result-non {
        margin: 0 0 1rem 0;
        padding: 0;
        color: gray;
      }
      .search-result {
        margin: 0 0 1rem 0;
        padding: 0;
        color: gold;
      }
      textarea {
        resize: none;
        width: 80%;
        height: 5rem;
        border-radius: 0.5rem;
        padding: 0.1rem 0 0 0.1rem;
        border: 0;
      }

      .listening {
        margin: 0 0 2rem 0;
        padding: 0;
        color: #0b9ff5;
        &:active {
          color: gold;
          text-decoration: none;
        }
      }
      .icon {
        margin-top: 0.5rem;
        .search {
          padding: 0;
          color: rgb(240, 125, 125);
          &:active {
            color: gold;
            text-decoration: none;
          }
        }
        .share {
          padding: 0 0 0 1rem;
          color: #07f1bf;
          background-color: rgba(0, 0, 0, 0);
          border: none;
          &:active {
            color: gold;
            text-decoration: none;
          }
        }
      }
    }
  }
  .user-search {
    margin: 1rem 0;
    font-size: 1.25rem;
    .search {
      width: 75%;
      height: 3rem;
      border-radius: 0.5rem;
      padding: 0.1rem 0 0 0.1rem;
      border: 0;
    }
    .btn-search {
      color: white;
      background: rgba(0, 0, 0, 0.25);
      border: solid 0.1rem white;
      padding: 0.75rem 2.25rem;
      font-size: 1.25rem;
      text-indent: 0.3rem;
      letter-spacing: 0.3rem;
      &:active {
        background: white;
        color: black;
        box-shadow: none;
      }
    }
  }
  .microposts {
    padding: 0 2rem;
    font-size: 1.25rem;
    list-style: none;
    margin-bottom: 1rem;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
    border: solid 0.1rem white;
    .row-micropost {
      padding: 0;
      .icon-size {
        font-size: 1rem;
      }
      .user-img {
        margin: 1rem 0 0 0;
        height: 5rem;
        width: 5rem;
      }
      .user {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
      }
      .user::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.1rem;
        width: 100%;
        height: 0.1rem;
        background-color: white;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform 0.3s;
      }
      .user:active::after {
        transform: scale(1, 1);
      }
      .history {
        color: gray;
      }
      .listening {
        color: #0b9ff5;
        &:active {
          color: gold;
          text-decoration: none;
        }
      }
      .btn-like {
        color: #ca046e;
        padding: 0;
      }
      .btn-like-non {
        color: white;
        padding: 0;
        &:active {
          color: #ca046e;
        }
      }
      .trash {
        color: white;
        &:active {
          color: rgb(164, 247, 164);
        }
      }
    }
  }
  .pagination {
    float: right;
    .page-item.active .page-link {
      color: white;
      background-color: rgba(0, 0, 0, 0.25);
      border-color: gold;
    }
    .page-link {
      color: white;
      background-color: rgba(0, 0, 0, 0.25);
      &:active {
        border-color: gold;
      }
    }
  }
}

/* User show */

.show-img {
  background-image: image-url("show.jpg");
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-show {
  color: white;
  font-size: 1.5rem;
  margin-top: 3rem;
  .icon-style {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
  }
  aside {
    margin: 0 0 1rem 2rem;
    padding: 0;
    .user-info {
      margin: 1rem 0;
      .user-info-img {
        margin-bottom: 2rem;
        border: solid 0.3rem white;
        width: 10rem;
        height: 10rem;
      }
      .user {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
      }
      .user::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.1rem;
        width: 100%;
        height: 0.1rem;
        background-color: white;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform 0.3s;
      }
      .user:active::after {
        transform: scale(1, 1);
      }
    }
    .stats {
      overflow: auto;
      margin: 0 0 3rem 0;
      padding: 0;
      a {
        color: white;
        padding: 0 1rem;
        display: inline-block;
        &:first-child {
          padding-left: 0;
          border: 0;
        }
        &:active {
          text-decoration: none;
          color: #003ea6;
        }
      }
      strong {
        display: block;
      }
    }
    .follow-form {
      margin: 0 0 2rem 0;
      .btn-unfollow {
        background: white;
        color: black;
        border: solid 0.1rem white;
        padding: 0.75rem 2.25rem;
        font-size: 1.25rem;
        text-indent: 0.3rem;
        letter-spacing: 0.3rem;
        box-shadow: none;
        .normal {
          display: inline;
        }
        .active-hover {
          display: none;
        }
        &:active {
          color: white;
          background: rgb(163, 31, 31);
          box-shadow: none;
          border: solid 0.1rem rgb(163, 31, 31);
          .normal {
            display: none;
          }
          .active-hover {
            display: inline;
          }
        }
      }
      .btn-follow {
        color: white;
        background: rgba(0, 0, 0, 0.25);
        border: solid 0.1rem white;
        padding: 0.75rem 2.25rem;
        font-size: 1.25rem;
        text-indent: 0.3rem;
        letter-spacing: 0.3rem;
        &:active {
          background-color: #003ea6;
          color: white;
          border: solid 0.1rem #003ea6;
        }
      }
    }
  }
  .user-search {
    margin: 1rem 0;
    font-size: 1.25rem;
    .search {
      width: 75%;
      height: 3rem;
      border-radius: 0.5rem;
      padding: 0.1rem 0 0 0.1rem;
      border: 0;
    }
    .btn-search {
      color: white;
      background: rgba(0, 0, 0, 0.25);
      border: solid 0.1rem white;
      padding: 0.75rem 2.25rem;
      font-size: 1.25rem;
      text-indent: 0.3rem;
      letter-spacing: 0.3rem;
      &:active {
        background: white;
        color: black;
        box-shadow: none;
      }
    }
  }
  .microposts {
    padding: 0 2rem;
    font-size: 1.25rem;
    list-style: none;
    margin-bottom: 1rem;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
    border: solid 0.1rem white;
    .row-micropost {
      padding: 0;
      .icon-size {
        font-size: 1rem;
      }
      .user-img {
        margin: 1rem 0 0 0;
        height: 5rem;
        width: 5rem;
      }
      .user {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
      }
      .user::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.1rem;
        width: 100%;
        height: 0.1rem;
        background-color: white;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform 0.3s;
      }
      .user:active::after {
        transform: scale(1, 1);
      }
      .history {
        color: gray;
      }
      .listening {
        color: #0b9ff5;
        &:active {
          color: gold;
          text-decoration: none;
        }
      }
      .btn-like {
        color: #ca046e;
        padding: 0;
      }
      .btn-like-non {
        color: white;
        padding: 0;
        &:active {
          color: #ca046e;
        }
      }
      .trash {
        color: white;
        &:active {
          color: rgb(164, 247, 164);
        }
      }
    }
  }
  .pagination {
    float: right;
    .page-item.active .page-link {
      color: white;
      background-color: rgba(0, 0, 0, 0.25);
      border-color: gold;
    }
    .page-link {
      color: white;
      background-color: rgba(0, 0, 0, 0.25);
      &:active {
        border-color: gold;
      }
    }
  }
}

/* User index */

.users-index-img {
  background-image: image-url("user_index.jpg");
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-users-index {
  color: white;
  .eng-title {
    margin: 5rem 0 0.25rem 0;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
  }
  .jpn-title {
    margin: 0 0 2rem 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 3rem;
  }
  .user-search {
    margin: 1rem 0;
    font-size: 1.25rem;
    .search {
      width: 50%;
      height: 3rem;
      border-radius: 0.5rem;
      padding: 0.1rem 0 0 0.5rem;
      border: 0;
    }
    .btn-search {
      color: white;
      background: rgba(0, 0, 0, 0.25);
      border: solid 0.1rem white;
      padding: 0.75rem 2.25rem;
      font-size: 1.25rem;
      text-indent: 0.3rem;
      letter-spacing: 0.3rem;
      &:active {
        background: white;
        color: black;
        box-shadow: none;
      }
    }
  }
  .users {
    padding: 0;
    li {
      padding: 0 2rem;
      font-size: 1.25rem;
      list-style: none;
      margin-bottom: 1rem;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
      border-radius: 3rem;
      border: solid 0.1rem white;
      position: relative;
      .user-img {
        margin: 1rem 1rem 1rem 0;
        height: 5rem;
        width: 5rem;
      }
      .user {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
      }
      .user::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.1rem;
        width: 100%;
        height: 0.1rem;
        background-color: white;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform 0.3s;
      }
      .user:active::after {
        transform: scale(1, 1);
      }
      .follow-form {
        float: right;
        margin-top: 1rem;
        .btn-unfollow {
          background: white;
          color: black;
          border: solid 0.1rem white;
          padding: 0.75rem 2.25rem;
          font-size: 1.25rem;
          text-indent: 0.3rem;
          letter-spacing: 0.3rem;
          box-shadow: none;
          .normal {
            display: inline;
          }
          .active-hover {
            display: none;
          }
          &:active {
            color: white;
            background: rgb(163, 31, 31);
            box-shadow: none;
            border: solid 0.1rem rgb(163, 31, 31);
            .normal {
              display: none;
            }
            .active-hover {
              display: inline;
            }
          }
        }
        .btn-follow {
          color: white;
          background: rgba(0, 0, 0, 0.25);
          border: solid 0.1rem white;
          padding: 0.75rem 2.25rem;
          font-size: 1.25rem;
          text-indent: 0.3rem;
          letter-spacing: 0.3rem;
          &:active {
            background-color: #003ea6;
            color: white;
            border: solid 0.1rem #003ea6;
          }
        }
      }
      .admin-trash {
        margin: 0 2rem 0.1rem 0;
        position: absolute;
        right: 0;
        bottom: 0;
        color: white;
        &:active {
          color: rgb(164, 247, 164);
        }
      }
    }
  }
  .pagination {
    float: right;
    .page-item.active .page-link {
      color: white;
      background-color: rgba(0, 0, 0, 0.25);
      border-color: gold;
    }
    .page-link {
      color: white;
      background-color: rgba(0, 0, 0, 0.25);
      &:active {
        border-color: gold;
      }
    }
  }
}

/* User show follow */

.show-follow-img {
  background-image: image-url("show_follow.jpg");
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-show-follow {
  color: white;
  font-size: 1.5rem;
  margin-top: 3rem;
  .icon-style {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
  }
  aside {
    margin: 0 0 1rem 2rem;
    padding: 0;
    .user-info {
      margin: 1rem 0;
      .user-info-img {
        margin-bottom: 2rem;
        border: solid 0.3rem white;
        width: 10rem;
        height: 10rem;
      }
      .user {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
      }
      .user::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.1rem;
        width: 100%;
        height: 0.1rem;
        background-color: white;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform 0.3s;
      }
      .user:active::after {
        transform: scale(1, 1);
      }
    }
    .stats {
      overflow: auto;
      margin: 0 0 3rem 0;
      padding: 0;
      a {
        color: white;
        padding: 0 1rem;
        display: inline-block;
        &:first-child {
          padding-left: 0;
          border: 0;
        }
        &:active {
          text-decoration: none;
          color: #003ea6;
        }
      }
      strong {
        display: block;
      }
    }
  }
  h2 {
    margin-bottom: 1rem;
  }
  .users {
    padding: 0;
    li {
      padding: 0 2rem;
      font-size: 1.25rem;
      list-style: none;
      margin-bottom: 1rem;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
      border-radius: 3rem;
      border: solid 0.1rem white;
      position: relative;
      .user-img {
        margin: 1rem 1rem 1rem 0;
        height: 5rem;
        width: 5rem;
      }
      .user {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
      }
      .user::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.1rem;
        width: 100%;
        height: 0.1rem;
        background-color: white;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform 0.3s;
      }
      .user:active::after {
        transform: scale(1, 1);
      }
      .follow-form {
        float: right;
        margin-top: 1rem;
        .btn-unfollow {
          background: white;
          color: black;
          border: solid 0.1rem white;
          padding: 0.75rem 2.25rem;
          font-size: 1.25rem;
          text-indent: 0.3rem;
          letter-spacing: 0.3rem;
          box-shadow: none;
          .normal {
            display: inline;
          }
          .active-hover {
            display: none;
          }
          &:active {
            color: white;
            background: rgb(163, 31, 31);
            box-shadow: none;
            border: solid 0.1rem rgb(163, 31, 31);
            .normal {
              display: none;
            }
            .active-hover {
              display: inline;
            }
          }
        }
        .btn-follow {
          color: white;
          background: rgba(0, 0, 0, 0.25);
          border: solid 0.1rem white;
          padding: 0.75rem 2.25rem;
          font-size: 1.25rem;
          text-indent: 0.3rem;
          letter-spacing: 0.3rem;
          &:active {
            background-color: #003ea6;
            color: white;
            border: solid 0.1rem #003ea6;
          }
        }
      }
      .admin-trash {
        margin: 0 2rem 0.1rem 0;
        position: absolute;
        right: 0;
        bottom: 0;
        color: white;
        &:active {
          color: rgb(164, 247, 164);
        }
      }
    }
  }
  .pagination {
    float: right;
    .page-item.active .page-link {
      color: white;
      background-color: rgba(0, 0, 0, 0.25);
      border-color: gold;
    }
    .page-link {
      color: white;
      background-color: rgba(0, 0, 0, 0.25);
      &:active {
        border-color: gold;
      }
    }
  }
}

/* About */

.about-img {
  background-image: image-url("about.jpg");
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-about {
  color: white;
  font-size: 1.5rem;
  .eng-title {
    margin: 5rem 0 0.25rem 0;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
  }
  .jpn-title {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
  }
  h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  .about {
    margin: 4rem 0 0 0;
  }
  .feature {
    margin: 6rem 0 2rem 0;
    span {
      font-size: 1.25rem;
    }
    .popular {
      margin-top: 1.5rem;
    }
    .search {
      margin-top: 1.5rem;
    }
    .share {
      margin-top: 1.5rem;
    }
    .discover {
      margin-top: 1.5rem;
    }
    .page-move {
      margin: 3rem 0 1rem 0;
      .btn-about {
        display: inline-block;
        margin: 0 1rem 1rem 1rem;
        color: white;
        background: rgba(0, 0, 0, 0.25);
        border: solid 0.1rem white;
        padding: 0.75rem 2.25rem;
        font-size: 0.75rem;
        text-indent: 0.2rem;
        letter-spacing: 0.2rem;
        &:active {
          background: white;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

/* Reset password */

.forgot-password-img {
  background-image: image-url("forgot_password.jpg");
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.reset-password-img {
  background-image: image-url("reset_password.jpg");
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.container-reset-password {
  color: white;
  .eng-title {
    margin: 5rem 0 0.25rem 0;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
  }
  .jpn-title {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
  }
  .field {
    font-size: 1.25rem;
    margin: 6rem 0 0 0;
    p {
      margin: 0;
      padding: 0;
    }
    .reset-password-form {
      margin: 0 0 4rem 0;
      padding: 0.1rem 0 0 0.1rem;
      border: 0;
      resize: none;
      width: 75%;
      height: 3rem;
      border-radius: 0.5rem;
    }
    .btn-reset-password {
      color: white;
      background: rgba(0, 0, 0, 0.1);
      border: solid 0.1rem white;
      padding: 0.75rem 2.25rem;
      font-size: 1.5rem;
      text-indent: 0.2rem;
      letter-spacing: 0.2rem;
      display: block;
      &:active {
        background: white;
        color: black;
        text-decoration: none;
      }
    }
  }
}

/* Responsive */

/*　タブレットサイズ対応　*/
@media (min-width: 768px) {
  /* header */

  header {
    font-size: 1rem;
    .logo {
      font-size: 2rem;
      letter-spacing: 0.2rem;
    }
    .nav-item {
      margin: 0 1rem;
      .link-style {
        .eng-link {
          font-size: 1rem;
          margin-bottom: 0.1rem;
        }
        .jpn-link {
          font-size: 1.25rem;
        }
      }
      .link-style::after {
        bottom: -0.1rem;
        height: 0.1rem;
      }
    }
  }

  /* TOP */

  .container-top h1 {
    font-size: 7rem;
  }

  .container-top p {
    margin-bottom: 11rem;
    font-size: 2rem;
    letter-spacing: 0.55rem;
  }

  .btn-top {
    padding: 1rem 3rem;
    font-size: 2rem;
    text-indent: 1rem;
    letter-spacing: 1rem;
  }

  /* SIGN UP */

  /* LOGIN */

  /* Popular posts */
  .container-popular {
    .microposts {
      padding: 0 2.5rem;
      font-size: 1.5rem;
      .row-micropost {
        .user-img {
          margin: 1rem 0;
          height: 7rem;
          width: 7rem;
        }
      }
    }
  }

  /* Music search */

  .container-song {
    .search-content {
      margin: 2rem;
    }
  }

  /* Home */

  /* User show */
  .container-show {
    aside {
      .follow-form {
        margin: 0 0 3rem 0;
      }
    }
  }

  /* User index */

  .container-users-index {
    .eng-title {
      font-size: 2rem;
    }
    .jpn-title {
      font-size: 4rem;
    }
  }

  /* User edit */

  .container-edit {
    .eng-title {
      margin: 5rem 0 0.25rem 0;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      font-weight: 300;
      font-size: 2rem;
    }
    .jpn-title {
      font-family: "Noto Sans JP", sans-serif;
      font-weight: 700;
      font-size: 4rem;
      margin: 0;
    }
  }
  /* About */

  .container-about {
    .feature {
      margin: 8rem 0 2rem 0;
    }
  }
}

/*　PCサイズ対応　*/
@media (min-width: 992px) {
  /* header */

  header {
    font-size: 1.5rem;
    .logo {
      font-size: 3rem;
      letter-spacing: 0.3rem;
      &:hover {
        text-decoration: none;
        color: #003ea6;
      }
    }
    .nav-item {
      margin: 0 2rem;
      .link-style {
        .eng-link {
          font-size: 1rem;
          margin-bottom: 0.3rem;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .link-style::after {
        bottom: -0.1rem;
        height: 0.1rem;
      }
      .link-style:hover::after {
        transform: scale(1, 1);
      }
    }
  }

  /* TOP */

  .container-top p {
    margin-bottom: 10rem;
    font-size: 2rem;
    letter-spacing: 0.7rem;
  }

  .btn-top {
    padding: 1rem 3rem;
    font-size: 2rem;
    text-indent: 1rem;
    letter-spacing: 1rem;
    &:hover {
      background: white;
      color: black;
      box-shadow: none;
    }
  }

  /* SIGN UP */

  .container-signup {
    .eng-title {
      font-size: 2rem;
    }
    .jpn-title {
      font-size: 4rem;
    }
    .field {
      .btn-signup {
        &:hover {
          background: white;
          color: black;
          text-decoration: none;
        }
      }
    }
  }

  /* LOGIN */

  .container-login {
    .eng-title {
      font-size: 2rem;
    }
    .jpn-title {
      font-size: 4rem;
    }
    .field {
      .forget-password:hover::after {
        transform: scale(1, 1);
      }
      .btn-login {
        &:hover {
          background: white;
          color: black;
          text-decoration: none;
        }
      }
      .btn-easy-login {
        &:hover {
          background: white;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
  /* User edit */

  .edit-img {
    background-image: image-url("user_edit.jpg");
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
  }

  .container-edit {
    .field {
      .img-change {
        &:hover {
          cursor: pointer;
          color: gold;
        }
      }
    }
    .user-edit {
      .btn-edit {
        &:hover {
          background: white;
          color: black;
          box-shadow: none;
        }
      }
    }
  }
}

/* Popular posts */
.container-popular {
  .eng-title {
    margin: 5rem 0 0.25rem 0;
    font-weight: 300;
    font-size: 2rem;
  }

  .jpn-title {
    margin: 0 0 4rem 0;
    font-weight: 700;
    font-size: 4rem;
  }
  .microposts {
    padding: 0 3rem;
    font-size: 2rem;
    .row-micropost {
      .icon-size {
        font-size: 1.5rem;
      }
      .user-img {
        height: 10rem;
        width: 10rem;
      }
      .user:hover::after {
        transform: scale(1, 1);
      }
      .listening {
        &:hover {
          color: gold;
          text-decoration: none;
        }
      }
      .btn-like-non {
        &:hover {
          color: #ca046e;
        }
      }
      .trash {
        &:hover {
          color: rgb(164, 247, 164);
        }
      }
    }
  }
}

/* Music search */

.container-song {
  .song-search {
    .eng-title {
      margin: 5rem 0 0.25rem 0;
      font-weight: 300;
      font-size: 2rem;
    }
    .jpn-title {
      font-size: 4rem;
      font-weight: 700;
    }
    .search-form {
      font-size: 2rem;
      margin: 2rem 0;
    }
    .btn-song {
      padding: 0.75rem 2.25rem;
      font-size: 1.25rem;
      text-indent: 0.3rem;
      letter-spacing: 0.3rem;
      &:hover {
        background: white;
        color: black;
        box-shadow: none;
      }
    }
  }
  .search-content {
    margin: 3rem;
    .icon {
      .listening {
        &:hover {
          color: gold;
          text-decoration: none;
        }
      }
      .share {
        &:hover {
          color: gold;
          text-decoration: none;
        }
      }
    }
  }
}

/* Home */

.container-home {
  font-size: 1.5rem;
  margin-top: 3rem;
  aside {
    margin: 0;
    padding: 0;
    .user-info {
      .user:hover::after {
        transform: scale(1, 1);
      }
    }
    .stats {
      a {
        &:hover {
          text-decoration: none;
          color: #003ea6;
        }
      }
    }
    .micropost-form {
      p {
        margin: 0;
        padding: 0;
        text-align: left;
      }
      .label {
        margin: 0 0 0.1rem 0;
        padding: 0;
      }
      .search-result-non {
        margin: 0 0 1rem 0;
        padding: 0;
        color: gray;
      }
      .search-result {
        margin: 0 0 1rem 0;
        padding: 0;
        color: gold;
      }
      textarea {
        resize: none;
        width: 80%;
        height: 5rem;
        border-radius: 0.5rem;
        padding: 0.1rem 0 0 0.1rem;
        border: 0;
      }
      .listening {
        margin: 0 0 2rem 0;
        padding: 0;
        color: #0b9ff5;
        &:hover {
          color: gold;
          text-decoration: none;
        }
      }
      .icon {
        margin-top: 0.5rem;
        .search {
          padding: 0;
          color: rgb(240, 125, 125);
          &:hover {
            color: gold;
            text-decoration: none;
          }
        }
        .share {
          padding: 0 0 0 1rem;
          color: #07f1bf;
          background-color: rgba(0, 0, 0, 0);
          border: none;
          &:hover {
            color: gold;
            text-decoration: none;
          }
        }
      }
    }
  }
  .user-search {
    .btn-search {
      padding: 0.75rem 2.25rem;
      font-size: 1.25rem;
      text-indent: 0.3rem;
      letter-spacing: 0.3rem;
      &:hover {
        background: white;
        color: black;
        box-shadow: none;
      }
    }
  }
  .microposts {
    .row-micropost {
      .user-img {
        margin: 1rem 0 1rem 2rem;
        height: 5rem;
        width: 5rem;
      }
      .user:hover::after {
        transform: scale(1, 1);
      }
      .listening {
        &:hover {
          color: gold;
          text-decoration: none;
        }
      }
      .btn-like-non {
        &:hover {
          color: #ca046e;
        }
      }
      .trash {
        &:hover {
          color: rgb(164, 247, 164);
        }
      }
    }
  }
  .pagination {
    .page-link {
      &:hover {
        border-color: gold;
      }
    }
  }
}

/* User show */

.container-show {
  color: white;
  font-size: 1.5rem;
  margin-top: 3rem;
  .icon-style {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
  }
  aside {
    margin: 0;
    padding: 0;
    .user-info {
      margin: 1rem 0;
      .user-info-img {
        margin-bottom: 2rem;
        border: solid 0.3rem white;
      }
      .user:hover::after {
        transform: scale(1, 1);
      }
    }
    .stats {
      a {
        &:hover {
          text-decoration: none;
          color: #003ea6;
        }
      }
    }
    .follow-form {
      .btn-unfollow {
        &:hover {
          color: white;
          background: rgb(163, 31, 31);
          box-shadow: none;
          border: solid 0.1rem rgb(163, 31, 31);
          .normal {
            display: none;
          }
          .active-hover {
            display: inline;
          }
        }
      }

      .btn-follow {
        &:hover {
          background-color: #003ea6;
          color: white;
          border: solid 0.1rem #003ea6;
        }
      }
    }
    .user-search {
      .btn-search {
        padding: 0.75rem 2.25rem;
        font-size: 1.25rem;
        text-indent: 0.3rem;
        letter-spacing: 0.3rem;
        &:hover {
          background: white;
          color: black;
          box-shadow: none;
        }
      }
    }
    .microposts {
      .row-micropost {
        .user-img {
          margin: 1rem 0 1rem 2rem;
        }
        .user:hover::after {
          transform: scale(1, 1);
        }
        .listening {
          &:hover {
            color: gold;
            text-decoration: none;
          }
        }
        .btn-like-non {
          &:hover {
            color: #ca046e;
          }
        }
        .trash {
          &:hover {
            color: rgb(164, 247, 164);
          }
        }
      }
    }
    .pagination {
      .page-link {
        &:hover {
          border-color: gold;
        }
      }
    }
  }

  /* User index */

  .container-users-index {
    .user-search {
      .search {
        width: 25%;
      }
      .btn-search {
        &:hover {
          background: white;
          color: black;
          box-shadow: none;
        }
      }
    }
    .users {
      li {
        .user:hover::after {
          transform: scale(1, 1);
        }
        .follow-form {
          .btn-unfollow {
            &:hover {
              color: white;
              background: rgb(163, 31, 31);
              box-shadow: none;
              border: solid 0.1rem rgb(163, 31, 31);
              .normal {
                display: none;
              }
              .active-hover {
                display: inline;
              }
            }
          }
          .btn-follow {
            &:hover {
              background-color: #003ea6;
              color: white;
              border: solid 0.1rem #003ea6;
            }
          }
          .admin-trash {
            &:hover {
              color: rgb(164, 247, 164);
            }
          }
        }
      }
    }
    .pagination {
      .page-link {
        &:hover {
          border-color: gold;
        }
      }
    }
  }
  /* User show follow */

  .container-show-follow {
    aside {
      .user-info {
        .user:hover::after {
          transform: scale(1, 1);
        }
      }
      .stats {
        a {
          &:hover {
            text-decoration: none;
            color: #003ea6;
          }
        }
      }
    }
    .users {
      li {
        .user:hover::after {
          transform: scale(1, 1);
        }
        .follow-form {
          .btn-unfollow {
            &:hover {
              color: white;
              background: rgb(163, 31, 31);
              box-shadow: none;
              border: solid 0.1rem rgb(163, 31, 31);
              .normal {
                display: none;
              }
              .active-hover {
                display: inline;
              }
            }
          }
          .btn-follow {
            &:hover {
              background-color: #003ea6;
              color: white;
              border: solid 0.1rem #003ea6;
            }
          }
        }
        .admin-trash {
          &:hover {
            color: rgb(164, 247, 164);
          }
        }
      }
    }
    .pagination {
      .page-link {
        &:hover {
          border-color: gold;
        }
      }
    }
  }

  /* About */

  .container-about {
    .eng-title {
      font-size: 2rem;
    }
    .jpn-title {
      font-size: 4rem;
    }
    .feature {
      margin: 8rem 0 2rem 0;
      .page-move {
        .btn-about {
          &:hover {
            background: white;
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }

  /* Reset password */

  .container-reset-password {
    color: white;
    .eng-title {
      font-size: 2rem;
    }
    .jpn-title {
      font-size: 4rem;
    }
    .field {
      .btn-reset-password {
        &:hover {
          background: white;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}
